html{
  text-align: center;
}

body{
  background-color: #fac84b;

}


h1 {

    margin:20px;
    font-family: "Gill Sans MT", cursive;
    background: #4b4bfa;
    padding: 5px 15px;
    color: #de4d4d;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
}

input       {
              text-align: right;       /* Align input to the right  */
              border: none;
              border-radius: 20px 20px 20px 20px;
              padding: 5px  5px;
              font-size:large;       }
